.breadcrumb {
    border-radius: 0;
    padding: 0.25rem 1rem;
    margin-bottom: 3.5rem;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    .btn-home {
        font-size: 2rem;
        cursor: pointer;
        color: var(--text-dark);
    }
    .space {
        font-size: 2.4rem;
        margin: 0 1rem;
        color: var(--text-dark);
    }
}
